#dashboard {
  position: absolute;
  float: left;
  top: 10vh;
  left: 0;
  right: 0;
  height: 100%;
  max-width: 100%;

  #frame {
    display: block;
    margin: 0;
    width: 100vw;
    height: 100%;
    border: none;
  }
}
#appBar{
  align-items: flex-start;
  @media (max-width: 600px){
    h2{
      font-size: 1.5em;
      text-align: center;
      padding-top: 1vh;
    }
  }
}

.toolBar {
  flex-grow: 3;
  float: left;
  Button {
    width: 10vw;
    position: absolute;
    left: 0;
  }

  h3 {
    width: 90vw;
    text-align: center;

  }
}

